/* //Theme 1

$hex1: #731728;
$hex2: #022873;
$hex3: #465E8C;
$hex4: #54728C;
$hex5: #D9D9D9;


$rgba1: rgba(114,22,39, 1);
$rgba2: rgba(2,39,114, 1);
$rgba3: rgba(70,93,140, 1);
$rgba4: rgba(84,114,140, 1);
$rgba5: rgba(216,216,216, 1); */

/* // Theme 2
$hex1: #1A1E26;
$hex2: #F2EA77;
$hex3: #F2DEA0;
$hex4: #BFA26B;
$hex5: #8C704F;

$rgba1: rgba(25,29,38, 1);
$rgba2: rgba(242,234,118, 1);
$rgba3: rgba(242,221,159, 1);
$rgba4: rgba(191,161,107, 1);
$rgba5: rgba(140,112,78, 1); */

//Theme 3
$hex1: #24103a;
$hex2: #735943;
$hex3: #BF9F63;
$hex4: #d1b787;
$hex5: #F2F1E9;
$hex6: #fffef7;

//Theme 4
// $hex1: #F2F1E9;
// $hex2: #735943;
// $hex3: #BF9F63;
// $hex4: #BFA26B;
// $hex5: #1C1226;

$rgba1: rgba(25,29,38, 1);
$rgba2: rgba(242,234,118, 1);
$rgba3: rgba(242,221,159, 1);
$rgba4: rgba(191,161,107, 1);
$rgba5: rgba(140,112,78, 1);

$radius-m: 30px;
