$hex1: #731728;
$hex2: #022873;
$hex3: #465E8C;
$hex4: #54728C;
$hex5: #D9D9D9;


$rgba1: rgba(114,22,39, 1);
$rgba2: rgba(2,39,114, 1);
$rgba3: rgba(70,93,140, 1);
$rgba4: rgba(84,114,140, 1);
$rgba5: rgba(216,216,216, 1);

// $hsla1: hsla(348, 66, 27, 1);
// $hsla2: hsla(219, 96, 22, 1);
// $hsla3: hsla(219, 33, 41, 1);
// $hsla4: hsla(208, 25, 44, 1);
// $hsla5: hsla(0, 0, 85, 1);


