<div class="component-content">
  @for(booking of bookings; track booking) {
  <div class="item-body-bg mb-3">
    <h5>{{ booking.restaurantName }}</h5>
    <p>Date: {{ booking.bookingDate.toLocaleDateString() }}</p>
    <p>Time: {{ convertTimeString(booking.bookingDate) }}</p>
    <p>Amount of guests: {{ booking.amountOfPeople }}</p>
    <p>
      Guest name: {{ booking.customerFirstName }} {{ booking.customerLastName }}
    </p>
    <p>Guest email: {{ booking.customerEmail }}</p>
    <p>Guest phone number: {{ booking.customerPhone }}</p>
    <p>Booking status: {{ statusGetter(booking.status) }}</p>
  </div>
  }
</div>
