.outer-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow: auto;
    scrollbar-gutter: stable;
    width: 100vw;
}
