<a href="" (click)="''">home</a>
<form [formGroup]="registerForm" (submit)="onSubmit()" autocomplete="new-password">
    <h1>Register</h1>

    <div class="form-control">
        <label for="email">Email</label>
        <input formControlName="email" id="email" autocomplete="new-password" type="email" />
        @if(registerForm.get('email')?.getError('email')) {
            <div>Invalid email</div>
        }
        
    </div>

    <div class="form-control">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="{{displayPw ? 'text' : 'password'}}" autocomplete="new-password" />
        <span><button type="button" (mousedown)="showPassword(true)" (mouseup)="showPassword(false)">Show password</button></span>
        <div>
            {{ 
                registerForm.get('password')?.getError('minLength')||
                registerForm.get('password')?.getError('maxLength')||
                registerForm.get('password')?.getError('minLowercase')||
                registerForm.get('password')?.getError('minUppercase')||
                registerForm.get('password')?.getError('minNumbers')||
                registerForm.get('password')?.getError('minSymbols')
            }}
        </div>
    </div>

    <div class="form-control">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" id="confirmPassword" type="password" />
        @if(registerForm.get('confirmPassword')?.getError('matching')){
            <div>Password don't match</div>
        }
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
