@import "../../../styles/theme.scss";
$text-color: $hex1;

.component-content {
    max-width: none;
}

.mat-column-amountGuests {
    flex: 0 0 8%;
    color: $text-color;
}
.mat-column-restaurantName {
    flex: 0 0 13%;
    word-break: break-word;
    color: $text-color;
}
.mat-column-time {
    flex: 0 0 8%;
    word-break: break-word;
    color: $text-color;
}
.mat-column-date {
    flex: 0 0 10%;
    word-break: break-word;
    color: $text-color;
}
.mat-column-guestEmail {
    flex: 0 0 20%;
    word-break: break-word;
    color: $text-color;
}
.mat-column-guestPhNr {
    flex: 0 0 10%;
    word-break: break-word;
    color: $text-color;
}
.mat-column-status {
    flex: 0 0 10%;
    word-break: break-word;
    color: $text-color;
}
.mat-column-guestName {
    flex: 0 0 20%;
    word-break: break-word;
    color: $text-color;
}
