@if(restaurant){
    <h1>{{restaurant.name}}</h1>
    <h2>Address:</h2>
    <p>{{restaurant.address.line1}}</p>
    <p>{{restaurant.address.line2}}</p>
    <p>{{restaurant.address.line3}}</p>
    <p>{{restaurant.address.postalCode}}</p>
    <p>{{restaurant.address.city}}</p>
    <p>{{restaurant.address.country}}</p>
    <p>Phone number: {{restaurant.phoneNumber}}</p>
    <br/>
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select [(value)]="selectedAmount"> 
            <mat-option [value]="null">--</mat-option>
            @for(num of amountOfPeople; track amountOfPeople) {
                <mat-option [value]="num">{{num}}</mat-option>
            }
        </mat-select>
      </mat-form-field>
    <app-datepicker 
        (dateChange)="receiveDate($event)" 
        [tables]="tables"
        [disabled]="selectedAmount === null ? true : false"
    >
    </app-datepicker>
    <div>{{dateVariable}}</div>
    
    <app-time-picker 
        [tables]="tables" 
        [amountOfPeople]="selectedAmount" 
        (timeChange)="receiveTime($event)"
        [selectedDate]="dateVariable"
    >
    </app-time-picker>
    <div>Chosen time: {{timeVariable}}</div>
    @if(timeVariable && selectedAmount && dateVariable) {
        <button class="btn btn-primary" (click)="bookTable()">Book table!</button>
    }
    <h2>Tables:</h2>
    @for(table of tables; track tables) {
            <h1>{{table.capacity}}</h1>

    }
} @else {
    <p>...loading</p>
}
