@use '@angular/material' as mat;
@use 'sass:map';
@import 'styles/theme.scss';

@include mat.core();

$custom-typography: mat.define-typography-config(
  $font-family: 'Ubuntu Sans, sans-serif'
);

$my-primary: mat.define-palette(mat.$deep-purple-palette);
$my-accent: mat.define-palette(mat.$pink-palette);

$my-background-colors: (
    status-bar: $hex6,
    app-bar: $hex6,
    background: $hex6,
    hover: $hex6,
    card: $hex6,
    dialog: $hex6,
    raised-button: $hex6,
    selected-button: $hex6,
    selected-disabled-button: $hex6,
    disabled-button: $hex6,
    focused-button: $hex6,
    disabled-button-toggle: $hex6,
    unselected-chip: $hex6,
    disabled-list-option: $hex6,
    tooltip: $hex6,
);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-primary,
        ),
        typography: $custom-typography,
    )
);

$color-map: map.get($my-theme, 'color');
$modified-color-map: map.merge($color-map, ('background': $my-background-colors));
$my-theme: map.merge($my-theme, ('color': $modified-color-map));


@include mat.all-component-themes($my-theme);

.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 30px;
}

.mat-mdc-table {
    padding: 20px;
    border-radius: 30px;
    .mat-mdc-row:nth-child(odd) {
        background-color: $hex6;
      }
      
      .mat-mdc-row:nth-child(even) {
        background-color: $hex5;
      }
      
      .mat-mdc-row:hover{
        background-color: $hex4 !important;
      }
}


// .my-select {
//     --mdc-select-fill-color: blue;
//     --mdc-text-field-fill-color: blue;
//     --mdc-select-ink-color: blue;
// }

.my-dialog {
    border-radius: $radius-m;
}
.my-backdrop {
    // background-color: rgba($hex5, 0.1);
    backdrop-filter: blur(1px);
}

.my-select {
    background-color: red;
}

.popup-container{
    border-radius: $radius-m;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $hex5;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} 
 

a {
    text-decoration: none;
    &:link {
        color: $hex2;
    }

    &:visited {
        color: $hex1;
    }
    
    &:hover {
        color: $hex3;
    }
    
    &:active {
        color: $hex4;
    }
}

html, body { height: 100%; }

body { 
    background-color: $hex5;
    color: $hex2;
    // text-shadow: 1px 1px 3px $hex4;
}

form {
    display: contents;
    .form-group {
        width: 80%;
    }
    .form-control {
        background-color: $hex6;
        border: solid 1px $hex4;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        input {
            margin-left: 30px;
        }
    }
}
.standard-form {
    min-width: 300px;
}

.background-frame {
    margin: 20px;
    background-color: $hex3;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 25px 0 $hex2;
    color: $hex5;
    text-shadow: 2px 1px 5px $hex2;
}

.carousel-inner {
    border-radius: 30px; 
    border-bottom-right-radius: 50%;
    box-shadow: -22px -22px 0 0 $hex3;
}

.carousel {
    width: 100%;
}

.card {
    color: $hex2;
    background-color: $hex5;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    text-shadow: none;
    h5 {
        font-size: 50px;
    }
    .card-body {
        border-radius: 30px;
        text-align: end;
        background-color: rgba($hex4, 0.2);
        height: 100%;
        margin-left: 30px;
    }
}

.component-content {
    margin-top: 40px;
    width: 100vw;
    max-width: 1000px;
}


.btn, .btn-check {
    border: solid 2px $hex1;
    border-radius: 5px;
    background-color: $hex1;
    margin: 1px;
    color: $hex5;
    margin-top: 10px;
    &:active:focus {
        border: solid 2px $hex4;
        background-color: $hex4;
        color: $hex2;
    }
    &:hover  {
        border: solid 2px $hex4;
        background-color: $hex5;
        color: $hex2;
    }
}

.toggle-button {
    margin: 1px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-container {
    margin-top: 40px;
}
.item-body-bg {
    background-color: rgba($hex4, 0.2);
    padding: 25px;
    border-radius: 30px;
}

table {
    width: 100%;
}