@use '@angular/material' as mat;

@include mat.core();

$custom-typography: mat.define-typography-config(
  $font-family: 'Ubuntu Sans, sans-serif'
);

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: $custom-typography
  )
);

@import 'styles/theme.scss';

a {
    text-decoration: none;
    &:link {
        color: $hex2;
    }

    &:visited {
        color: $hex1;
    }
    
    &:hover {
        color: $hex3;
    }
    
    &:active {
        color: $hex4;
    }
}

.popup {
    display: flex;
    background-color: grey;
    // width: 400px;
    // height: 500px;
    z-index: 3;
    position: absolute;
}
.overlay {
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(3px)

}

.popup-container{
    display: flex; 
    height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
}

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: "Ubuntu sans";
    background-color: $hex5;
    color: $hex2;
}

nav {
    background-color: $hex1;
    color: $hex5;
    font-size: large;
    height: 140px;
}

@include mat.all-component-themes($my-theme);